.AllVariationCards {
	font-family: 'roboto', sans-serif;
}

.AllVariationCards-container {
	display: flex;
	flex-wrap: wrap;
}

.VariationCard {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 3px;
	width: 250px;
	text-align: left;
	margin: 8px;
	box-shadow: 5px 5px 8px grey;
}

.VariationCard-heading {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px;
	border-bottom: 1px solid rgb(200, 200, 200);
	background-color: rgb(218, 237, 255);
	display: flex;
	justify-content: space-between;
}

.VariationCard-headingText {
	margin: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	color: blue;
}

.VariationCard-body {
	padding: 5px;
	background-color: rgb(239, 247, 253);
	height: 150px;
	overflow: auto;
}

.VariationCard-section {
	margin-top: 5px;
	margin-bottom: 5px;
}

.VariationCard-content {
	margin: 0px;
}

ul {
	margin: 0px;
}
