.VocabCardDetail-heading {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid rgb(200, 200, 200);
	margin-bottom: 15px;
}

.VocabCardDetail-title {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 15px;
	border-bottom: 1px solid rgb(200, 200, 200);
	background-color: rgb(218, 237, 255);

	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	text-align: left;
	color: blue;
	margin: 0px;
}

.VocabCardDetail-wordInfoContainer {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.VocabCardDetail-wordInfo {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	margin: 0px;
	margin-bottom: 5px;
}
