span {
	height: fit-content;
	display: inline-block;
}

span.RenderedText-Word-space {
	margin-left: 3px;
}

span.RenderedText-Word-clickable {
    margin: 0px;
}

span.RenderedText-Word-clickable:hover {
	background-color: aqua;
	/* text-decoration: underline; */
}

div.RenderedText-Paragraph {
	margin-top: 6px;
	margin-bottom: 6px;
}
